<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>About</h1>

      <p>ateTracks is an alternative UI to the music sharing website,
        <a href="http://8tracks.com" target="_blank">8tracks.com</a>.</p>

      <p>It is being independently developed by <a href="mailto:scott@hypermine.com">Scott Stamp</a>
        , founder and CTO of <a href="http://hypermine.com/" target="_blank">Hypermine Networks</a>.</p>

      <h4>Why ateTracks?</h4>

      <p>ateTracks was originally developed to facilitate downloading mixes
        from 8tracks.com. They don't allow this natively, because it violates
        their licensing agreements with production companies.</p>

      <p>... however, ateTracks has been revisited, this time to serve a more
        productive need. Recently due to some health problems I have developed
        severe
        <a href="http://en.wikipedia.org/wiki/Hallucinogen_persisting_perception_disorder" target="_blank">HPPD</a>
        , a neurological condition typically brought on by the use of psychedelic or hypnotic drugs.
      </p>

      <p>
        So again, why ateTracks? Mixes of bright hues like the white and blue
        used by 8tracks.com tend to cause rather annoying headaches for me.
        I love their service and their music, but their site and mobile app
        became virtually unusable. This site should also be a bit more friendly
        to people with colorblindness, another condition I suffer from and try
        to recognize in my designs.</p>
    </div>
  </div>
</div>