<div class="row">
  <div class="col-lg-6">
    <div class="jumbotron">
      <h1>Welcome to ateTracks</h1>

      <p>ateTracks is an alternative UI to the music sharing website,
        <a href="http://8tracks.com" target="_blank">8tracks.com</a>.</p>

      <p>All content on this website has been uploaded by members of the
        8tracks community, and content creators are displayed accordingly.</p>

      <p>Please keep in mind that ateTracks is still in an alpha phase.
        If you encounter any issues, please contact us.</p>

      <p>
        <a href="/popular" class="btn btn-primary btn-lg">Popular mixes</a>
        <a href="/hot" style="margin-left: 10px;" class="btn btn-primary btn-lg">Hot mixes</a>
      </p>
    </div>
    <div class="jumbotron">
      <p>Check out our new bookmarklet! Just drag the link below into your bookmarks bar,
        and from any mix on 8tracks.com you will be able to load that mix on ateTracks.ca
        with the push of a button!
      </p>

      <p>
        <a href="javascript:if(confirm('Are you sure you wish to navigate to ateTracks.ca?')){window.location='http://atetracks.ca/'+$('#like_button').attr('data-mix_id');}" class="btn btn-primary btn-lg">ateTracks
          Bookmarklet</a>
      </p>

      <p>
        <a href="javascript:if(confirm('Are you sure you wish to navigate to ateTracks.ca?')){window.location='http://atetracks.ca/playlist/'+$('#like_button').attr('data-mix_id');}" class="btn btn-primary btn-lg">ateTracks
          Bookmarklet (m3u playlist)</a>
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="tabbable">
      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
        <li class=""><a href="#hot" data-toggle="tab">Hot</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="popular">
          <% @popular.each do |mix| %>
              <a href="/<%= mix['id'] %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= mix['name'] %></h4>

                <p class="list-group-item-text"><%= mix['description'] %></p>
              </a>
          <% end %>
          <a href="/popular" class="list-group-item">
            <h4 class="list-group-item-heading tab-end">View all</h4>
          </a>
        </div>
        <div class="tab-pane fade" id="hot">
          <% @hot.each do |mix| %>
              <a href="/<%= mix['id'] %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= mix['name'] %></h4>

                <p class="list-group-item-text"><%= mix['description'] %></p>
              </a>
          <% end %>
          <a href="/hot" class="list-group-item">
            <h4 class="list-group-item-heading tab-end">View all</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.nav-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
