<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Stylesheets -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet"/>
  <link href="/css/pink.flag/jplayer.pink.flag.css" rel="stylesheet"/>
  <link href="/css/overrides.css" rel="stylesheet"/>
  <link href="/css/bootstrap-tokenfield.css" rel="stylesheet"/>

  <!-- Scripts -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-tokenfield.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

  <% if defined?(renderedTracks) %>
      <title>ateTracks :: <%= @mix[:name].force_encoding('UTF-8') %></title>
      <!-- Player -->
      <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
      <script type="text/javascript" src="/js/jplayer.playlist.min.js"></script>
      <script>
          $(document).ready(function () {
              new jPlayerPlaylist({
                  jPlayer: '#jquery_jplayer_1',
                  cssSelectorAncestor: '#jp_container_1'
              }, [ <%= renderedTracks %> ], {
                  error: function (event) {
                      if (event.jPlayer.error.type == $.jPlayer.error.URL)
                          this.next();
                  },
                  preload: 'metadata',
                  swfPath: '/js',
                  supplied: 'm4a, mp3',
                  wmode: 'window',
                  smoothPlayBar: true,
                  keyEnabled: true
              });
          });
      </script>
  <% else %>
      <title>ateTracks ::</title>
  <% end %>
</head>
<body>
<div class="header" style="height: 51px; background-color: #222222; width: 100%; border-bottom: 1px solid #282828; position: fixed; top: 0; left: 0; right: 0; z-index: 10000;">
  <div class="navbar navbar-inverse navbar-fixed-top" style="max-width: 768px !important; margin: 0 auto;">
    <div class="container">
      <a class="navbar-brand" href="/">ateTracks</a>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="max-width: 768px !important; padding-top: 80px !important; margin-bottom: 30px;">
  <%= yield %>
</div>
</body>
</html>
