<div class="list-group">
  <div class="list-group-item">
    <form class="form-inline" role="form">
      <div class="form-group" style="margin-bottom: 0px !important;">
        <input type="text" id="tokenfield" class="form-control token-example-field" placeholder="Enter tags"/>
        <button type="submit" style="position: absolute; left: -10000px;"></button>
      </div>
    </form>
  </div>
  <% @mixes.each do |mix| %>
      <a href="/<%= mix['id'] %>" class="list-group-item">
        <table class="search-results">
          <tr>
            <td width="56px">
              <img style="margin-right: 10px;" src="<%= mix['cover_urls']['sq56'] %>"/>
            </td>
            <td width="100%">
              <h4 class="list-group-item-heading"><%= mix['name'] %></h4>

              <p class="list-group-item-text"><%= mix['description'] %></p>

              <p class="list-group-item-text tag-cloud">
                <% mix['tag_list_cache'].split(', ').each do |t| %>
                    <a class="btn-small btn-primary" href="/popular/<%= t %>"><%= t %></a>
                <% end %>
              </p>

              <p class="popularity">
                  <span title="Number of plays"><i class="fa fa-play"></i>&nbsp;
                    <%= mix['plays_count'] %></span>&nbsp;&nbsp;
                  <span title="Number of likes"><i class="fa fa-heart" style="color: red;"></i>&nbsp;
                    <%= mix['likes_count'] %></span>
              </p>
            </td>
          </tr>
        </table>
      </a>
  <% end %>
</div>
