<div class="row">
  <div class="col-lg-8">
    <div class="jumbotron mix-data">
      <table style="background: none;">
        <tr>
          <td class="mix-art">
            <img style="float: left; padding-right: 20px; margin-left: -8px;" src="<%= @mix[:cover_url] %>"/>
          </td>
          <td class="mix-info">
            <h1>
              <a href="http://8tracks.com<%= @mix[:web_path] %>" target="_blank">
                <%= @mix[:name] %>
              </a>
            </h1>
            <h5>
              Author: <a href="http://8tracks.com<%= @mix[:author_web_path] %>" target="_blank">
              <%= @mix[:author] %>
            </a>
            </h5>

            <p id="description">
              <%= @mix[:description] %>
            </p>

            <p class="tag-cloud">
              <% @mix[:tags].split(', ').each do |t| %>
                  <a class="btn-small btn-primary" href="/popular/<%= t %>"><%= t %></a>
              <% end %>
            </p>

            <p class="popularity">
              <span title="Number of plays"><i class="fa fa-play"></i>&nbsp;
                <%= @mix[:plays_count] %></span>&nbsp;&nbsp;
              <span title="Number of likes"><i class="fa fa-heart" style="color: red;"></i>&nbsp;
                <%= @mix[:likes_count] %></span>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-4">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio" style="width: 100%">
      <div class="jp-type-playlist">
        <div class="jp-gui jp-interface">
          <ul class="jp-controls" style="border-bottom: 1px solid black;">
            <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
          </ul>
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          <div class="jp-current-time" style="margin-top: 8px;"></div>
          <div class="jp-duration" style="margin-top: 8px;"></div>
        </div>
        <div class="jp-playlist" style="margin-top: 16px;">
          <ul>
            <li></li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your
          <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>
</div>
