/* "AJAX" loading */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* Overrides for jPlayer */
div.jp-audio {
    width: 240px !important;
}

/*.jumbotron.mix-data { position: fixed; width: 482px; }*/

/* General overrides */
table.search-results {
    background: none;
}

.btn-small:hover {
    color: #fff;
}

.tag-cloud {
    line-height: 30px !important;
}

.tab-end {
    font-size: 12px;
    line-height: 10px;
}

/* Overrides for mobile
 * Note to self, overrides that have different
 * values from web to mobile need to be placed
 * above this block first.
 */
@media screen and (max-width: 1008px) {
    .jp-playlist {
        margin-top: -16px !important;
    }

    .jp-controls {
        margin-top: -40px !important;
    }

    .jp-volume-bar, .jp-volume-max, .jp-mute, .jp-unmute {
        display: none !important;
    }

    div.jp-audio {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .jp-playlist {
        margin-top: -16px !important;
    }

    .jp-controls {
        margin-top: -40px !important;
    }

    .nav, .jp-free-media {
        display: none;
    }

    .jp-volume-bar, .jp-volume-max, .jp-mute, .jp-unmute {
        display: none !important;
    }

    div.jp-audio {
        width: 100% !important;
    }

    .jumbotron.mix-data {
        position: relative !important;
        width: 100% !important;
    }

    .jumbotron.mix-data > img {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    td.mix-art {
        float: left;
    }

    td.mix-info {
        float: right;
        clear: left;
    }

    .jp-playlist {
        margin-top: -16px !important;
    }

    .jp-controls {
        margin-top: -40px !important;
    }

    .nav, .jp-free-media {
        display: none;
    }

    .jp-volume-bar, .jp-volume-max, .jp-mute, .jp-unmute {
        display: none !important;
    }

    div.jp-audio {
        width: 100% !important;
    }

    .jumbotron.mix-data {
        position: relative !important;
        width: 100% !important;
    }

    .jumbotron.mix-data > img {
        margin-bottom: 10px;
    }
}

.search-results .popularity {
    color: #fff !important;
    margin-top: 4px;
}